{% trans_default_domain 'FOSUserBundle' %}
<div class="container table-container ">
  <div class="fos_user_user_show offset-md-3 col-md-6">
    <table class="table table-striped table-bordered">
    <tr>
    <th>{{ 'profile.show.username'|trans }}</th>
    <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>{{ 'profile.show.email'|trans }}</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>{{ 'profile.show.name'|trans }}</th>
      <td>{{ user.firstname }}</td>
    </tr>
    </table>
    <a href="{{path('fos_user_profile_edit')}}"><button class="btn btn-primary btn-length" type="button" name="button">Editer profil</button></a>
  </div>
</div>
