{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register login_container'}}) }}
<div class="global-form">
  <div class="left-column">
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }}
  </div>
  <div class="right-column">
    {{ form_row(form.gender) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.phone) }}
  </div>
  </div>
<div>
  {{ form_row(form.biography) }}
    <input type="submit" class="btn btn-primary btn-registration" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
